<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Shopping Cart</h1>
    <form [formGroup]="form" (submit)="processForm()">
        <div class="mb-2">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="mb-2">
            <label class="form-label">Address</label>
            <input type="text" class="form-control" formControlName="address">
        </div>
        <div class="mb-2">
            <button class="btn btn-secondary" (click)="addComponent()">Add Item</button>
        </div>
        <div #container></div>
        <button class="btn btn-primary">Submit</button>   
    </form>
</div>