<div class="container">
    <h1>Update Employee</h1>
    <form method="POST" (ngSubmit)="postEmployee()" [formGroup]="form">
        <div class="mt-2 mb-2">
            <label class="form-label">
                First Name
                <input type="text" class="form-control" formControlName="firstName">
            </label>
            <label class="form-label">
                Last Name
                <input type="text" class="form-control" formControlName="lastName">
            </label>
            <label class="form-label">
                Email ID
                <input type="text" class="form-control" formControlName="emailId">
            </label>
        </div>
        <button class="btn btn-primary" type="submit" [routerLink]="['/employeeslist']">Update</button>
    </form>
</div>