<div class="d-flex justify-content-center align-items center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Main Weather
                </th>
                <th>
                    Description
                </th>
                <th>
                    WindSpeed
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {{countryWeatherDetails.name}}
                </td>
                <td>
                    {{countryWeatherDetails.mainWeather}}
                </td>
                <td>
                    {{countryWeatherDetails.description}}
                </td>
                <td>
                    {{countryWeatherDetails.windSpeed}}
                </td>
            </tr>
        </tbody>
    </table>
</div>