<form [formGroup]="form" (ngSubmit)="processForm()">
    <div class="d-flex flex-column justify-content-center align-items center">
        <div class="mt-2 mb-2 w-50">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        @if(form.get('name')?.invalid){
            <div class="alert alert-danger w-25">
                Name is required
            </div>
        }
        <div class="mt-2 mb-2 w-50">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
        </div>
        @if(form.get('email')?.invalid){
            <div class="alert alert-danger w-25">
                Email is required
            </div>
        }

        <div class="mt-2 mb-2 w-50">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" formControlName="phone">
        </div>
        @if(form.get('phone')?.invalid){
            <div class="alert alert-danger w-25 h-25">
                Phone is required
            </div>
        }
    </div>
    <div>
        <p>Hobbies</p>
        <button type="button" class="btn btn-success mb-3" (click)="addHobby()">Add Hobbies</button>
    </div>
    <div formArrayName="hobbies">
        @for(hobby of hobbies.controls;let idx = $index;track idx){
            <p [formGroupName]="idx">
                {{idx}}
                <input type="text" formControlName="activity">
                <button type="button" class="btn btn-danger" (click)="removeHobby(idx)">Remove</button>
            </p> 
        }
        @empty {
            <h3>No hobbies added</h3>
        }
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>