<p>Particulars</p>

<table class="table">
    <thead>
        <tr>
            <th>Badge ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @for(p of particulars$ | async; let idx = $index; track idx){
            <tr>
                <td>
                    {{p.badge_id}}
                </td>
                <td>
                    {{p.name}}
                </td>
                <td>
                    {{p.email}}
                </td>
            </tr>
        }
    </tbody>
</table>
