<div class="d-flex flex-column align-items-center justify-content-center mt-3">
    <select class="form-select w-50" aria-label="Default select example" #numberSelect>
        @for(n of numbersList; track $index){
            <option value="{{n}}">{{n}}</option>
        }
    </select> 
    <div class="d-flex align-items-center justify-content-center mt-3">
        <button type="button" (click)="getNextImage(+numberSelect.value)">Next</button>
        <button type="button" (click)="getPrevImage(+numberSelect.value)">Previous</button>
    </div> 
</div>