<div class="d-flex justify-content-center align-items-center">
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Quantity</td>
            </tr>
        </thead>
        <tbody>
            @for(cartItem of cart | keyvalue;let idx = $index;track idx){
                <tr>
                    <td>{{cartItem.value.name}}</td>
                    <td>{{cartItem.value.totalPrice}}</td>
                    <td>{{cartItem.value.quantity}}</td>
                </tr>
            }
            @empty {
                <p class="fs-3">No items added</p>
            }
        </tbody>
    </table>
    
</div>